/* Main Pages */
html {
    scroll-snap-type: mandatory;
    scroll-snap-type: y mandatory;
}
body {
    margin: 0 auto;
    background-image: url("mountainsandclouds3a.jpg");
    background-attachment: fixed;
    background-color: white;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-flex;
}
.page {

    padding: 1rem;
    height: 70vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
}
#main {
    width: 97.5vw;
}
.direct {
    cursor: pointer;
}
a {
    text-decoration: none;
    color: black;
    font-family: 'Edu TAS Beginner', cursive;
}
/* NavBar */

nav {
    width: 1.5vw;
}
.nav_text {
    font-size: 40px;
    writing-mode: vertical-lr;
    display: inline-flex;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    top: 20%;
}
.hook {
    margin-top: 5vh;
}
#menuBtn {
    font-size: 40px ;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    height: 3vh;
    width: 2vw;
    margin-right: .3vw;
    margin-top: .4vh;
    cursor: pointer;
}
.bar {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    border-radius: 5px;
}
#menuBtn:hover > .bar {
    background-color: #aaa;
}
#modalBtn {
    background-image: url('md-contact-48.png');
    transform: rotate(90deg);
    background-repeat: no-repeat;
    height: 49px;
    cursor: pointer;
}
#modalBtn:hover {
    opacity: 0.6;
}
/* style for name and landing page */
#title_page {
    color: var(--color7);
}
#title_info_container {
    width: 15vw;
    margin: auto;
    margin-top: 40vh;
}

/* style for project page */
.project_page {
    color: var(--color6);
    margin-top: 5vh;
}
.project_container {
    margin: auto;
    margin-top: 35vh;
    margin-bottom: 45vh;
    width: 15vw;
}

/* content */
.name {
    margin-top: 0;
    text-align: center;
    font-size: 50px;
    font-family: 'Edu TAS Beginner', cursive;
}
.description {
    margin-top: 0;
    text-align: center;
}

#spacer {
    height: 6vh;
}

:root{
    --color1: #F5E8ED;
    --color2: #FFCBE1;
    --color3: #FEB0CB;
    --color4: #EE988D;
    --color5: #FF769D;
    --color6: #EE4D6F;
    --color7: #E83261;
}


p {
    font-size: 100px;
}



.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* overflow: auto; Enable scroll if needed */
}
.modal-content {
    background-color: black;
    margin: 15% auto;
    padding: 20px;
    width: 25vw;
    height: 25vh;
    margin-top: 35vh;
    border-radius: 5vh;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 1.5vw;
}
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}
#modal-links {
    display: inline-flex;
}
.item-title {
    margin: 0 auto;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 5vh;
}
.item {
    height: 10vh;
    width: 4vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-left: 2vw;
    margin-right: 2vw;
}
.gh {
    background-image: url('gitHub.PNG');
}
.in {
    background-image: url('linkedinIco.PNG');
}
.em {
    background-image: url('email.PNG');
}
#email {
    color: white;
    margin-top: 9vh;
    width: 6.5vw;
    margin-left: -2vw;
    height: 1vh;
    font-size: 18px;
    font-weight: bold;
    font-style: italic
}