/* style for name/ landing page */
.title_page {
    color: black
}
/* style for first project page */
.project_one {
    color: black
}
/* style for second project page */
.project_two{
    color: black
}
/* style for third project page */
.project_three {
    color: black
}